pyOpenSSL==19.1.0
redis==3.2.0
pyasn1==0.4.8
ndg-httpsclient==0.5.1
apache-airflow==1.10.11
Cython==0.29.21
psycopg2==2.8.5
mysqlclient==2.0.1
Flask-OAuthlib==0.9.5
httplib2==0.18.1
google-cloud-core==1.3.0
google-cloud-storage==1.28.1
google-auth-httplib2==0.0.4
google-api-python-client==1.10.0
pandas-gbq==0.13.2